@page "/counter"
@layout MyCustomerLayout
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<MyComponent Xame="Himanshu"/>
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}